
.logoCodeFooter{
  position: absolute;
  width: 11.5%;
  right: 1%;
 
}
.logoCodeFooter:hover{
  opacity: 50%;
}

.headerLogoFooter{
  position: absolute;
  right: 13%;
  
  
}

.loginAdmin{
  position: absolute;
 
  left: 5%;
}
.loginAdmin:hover{
  opacity: 50%;
}
