
body{
  background-image: url(../Imagenes/fondo.jpg);
}
.titulo{
  text-align: center;
  color: rgb(0, 0, 0); 
  margin-bottom: 1em
}

.seccion-form{
width: 30em;
background-color: rgba(158, 189, 235, 0.5);
border: 2px solid black;
border-radius: 1em;
padding: 2em;
font-weight: bold;
}
