
footer{
	background-color: black;
}
footer img{
	position: relative;
	top: 0px;
	left: 0px;
}

.logoCodeFooter{
  position: relative;
  width: 11.5%;
  left: 38.5%;
 
}
.logoCodeFooter:hover{
  opacity: 50%;
}

.headerLogoFooter{
  position: absolute;
  right: 13%;
  
  
}