.contenedorCarrusel img{
  height: 650px;
}
.contenedorCarrusel{
  margin-bottom: 0px;
  background-color: transparent;
  padding: 10px;
}

.entrenadores {
  padding: 50px;  
  margin-bottom: 20px;
}
.entrenadores img{
  height: 300px;
}

.contenedorCategorias{
  padding: 10px;
}

.logoCodeFooter{
  position: absolute;
  width: 11.5%;
  right: 1%;
}
.logoCodeFooter:hover{
  opacity: 50%;
}

.headerLogoFooter{
  position: absolute;
  right: 13%;
}

.contenedorCategorias img{
  
  height: 286px;
}