.logoCodeFooter{
  position: absolute;
  width: 11.5%;
  right: 1%;
}
.logoCodeFooter:hover{
  opacity: 50%;
}

.headerLogoFooter{
  position: absolute;
  right: 13%;
  
  
}
.container{
height: 450px;
padding: 10px;
}

.contenedorTarjetitas{
  height: 450px;
  padding: 10px;
}
.card{
  padding: 10px;
}

.loginAdmin{
  position: absolute;
 
  left: 5%;
}
.loginAdmin:hover{
  opacity: 50%;
}

/* #Fotos{
  height: 150px;
}
#AñadirACarrito{
float: right;
} */

